<h1>Home index</h1>
<%= link_to "Import CSV People", home_import_path, method: :post %>
<%= link_to "People", people_path %><br>
<%= link_to "Location", locations_path %><br>
<%= link_to "Affiliations", affiliations_path %><br>
